option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: manga_api.wsgi:application
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static/: static/
    aws:elbv2:listener:443:
        SSLCertificateArns: arn:aws:iam::149271404015:server-certificate/elastic-beanstalk-x509
        Protocol: HTTPS




Resources:
    AWSEBV2LoadBalancerListener:
      Type: 'AWS::ElasticLoadBalancingV2::Listener'
      Properties:
        LoadBalancerArn: { "Ref" : "AWSEBV2LoadBalancer" }
        DefaultActions:
          - RedirectConfig:
              Port: 443
              Protocol: HTTPS
              StatusCode: HTTP_301
            Type: redirect
        Port: 80
        Protocol: HTTP